html {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    padding: 0px;
    margin: 0 auto;
    max-width: 1000px;
    /* width: 100%; */
    background-color: rgb(222, 212, 203);
}

/* ヘッダ */
header {
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;


}

#header-wrapper {
    background-color: rgb(181, 149, 123);
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

#logo p {
    font-family: 'Potta One', cursive;
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(2, 2, 2);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

#header {
    margin-right: 0;
    margin-left: auto;
}

#header-menu {
    display: flex;
    margin-right: 20px;

}

p {
    padding-left: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

table {
    text-align: center;
}

#container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    font-size: 14px;
    background-color: whitesmoke;
}

#top-wrapper {
    width: 100%;
    height: 350px;
    background-color: rgb(232, 221, 66);
    /* position: absolute; */

}

#country-name {
    margin: 0 auto;
    font-size: 70px;
    position: relative;
    padding-top: 100px;
    padding-left: 350px;
    /* color: whitesmoke;
    -webkit-text-stroke: black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(176, 176, 176);
    -webkit-text-fill-color: white;
    font-family: 'Potta One', cursive;
}

#about {
    float: right;
    margin-right: 20px;
    font-size: 18px;
    text-align: right;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(176, 176, 176);
    -webkit-text-fill-color: white;
    font-family: 'Potta One', cursive;
}

#top-container {
    width: 100%;
    display: flex;
}


#top-right {
    width: 100%;
}

#top-pic {
    margin-top: 20px;
    position: absolute;
    /* background-image: url(./img/); */


}

#picture {
    max-width: 100%;

}



#best3-wrapper {
    margin-top: 70px;
    margin-bottom: 50px;

}

#best6-wrapper {
    margin-top: 0px;
    margin-bottom: 50px;

}

#top3 {
    display: flex;
    justify-content: space-around;
}

#one {
    background-color: beige;
    width: 30%;
    height: 500px
}

#two {
    background-color: rgb(245, 239, 220);
    width: 30%;
    height: 500px
}

#three {
    background-color: beige;
    width: 30%;
    height: 500px
}


/* 記事の中身 */
.tdgenre {}

.tdimg {
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.tdcomment {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.tdcontents {
    padding: 10px
}

.tddata {
    padding-top: 10px;
    color: rgb(182, 182, 182)
}

.tdp {
    font-size: 30px;
}

#ele img {
    margin-top: 200px;
}

footer {
    height: 20px;
    background-color: rgb(232, 221, 66);
}